#flask ignore
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# db volume
postgres_db