Flask==2.1.0
Flask-GraphQL==2.0.1
flask-cors==3.0.10
flask-admin==1.6.0

SQLAlchemy==1.4.32
SQLAlchemy-Utils==0.38.2
sqlalchemy-schemadisplay==1.3
geoalchemy2==0.11.1
alembic==1.7.7
psycopg2==2.9.3
graphene==2.1.9
graphene-sqlalchemy==2.2.0
graphene-sqlalchemy-filter==1.13.0
graphene-file-upload==1.3.0
graphql-core==2.2
py-yaml-fixtures==0.6.1
PyJWT==2.3.0
click==8.0.4
black==21.9b0
flake8==4.0.1
isort==5.10.1
pre-commit==2.17.0
pytest==7.1.2
pytest-cov==3.0.0
pytest-env==0.6.2
pytest-factoryboy==2.1.0